<mat-list-item appCartItemHover="#77B8FF">
  <h4 mat-line>{{ cartProduct.name }}</h4>
  <p mat-line> {{ cartProduct.price * cartProduct.quantity | currency: 'USD' }} </p>
  <div class="quantity-actions">
    <button mat-button color="primary" (click)="onDecreaseQuantity(cartProduct.id)">
      <mat-icon>
        remove
      </mat-icon>
    </button>
    <span class="quantity-actions__counter">{{ cartProduct.quantity }}</span>
    <button mat-button color="primary" (click)="onIncreaseQuantity(cartProduct.id)">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
  <button mat-button color="warn" (click)="onDeleteProduct()">
    <mat-icon>
      delete_outline
    </mat-icon>
  </button>
</mat-list-item>
