<mat-list *ngIf="isCartEmpty(); else emptyCart">
  <mat-list-item *ngFor="let product of getProductsFromCart()">
    <h4 mat-line>{{ product.name }}</h4>
    <p mat-line>{{ product.price }}</p>
    <button mat-button color="warn" (click)="deleteProduct(product)">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p class="cart-total">Total: {{ getCartTotal() }}</p>
    <button (click)="order()"
            mat-stroked-button
            color="primary">
      Order
    </button>
  </mat-list-item>
</mat-list>

<ng-template #emptyCart>
  <p>Your cart is empty</p>
</ng-template>
