<mat-card>
  <mat-card-title>{{ product.name }}</mat-card-title>
  <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
  <mat-card-content class="info">
    <div>{{ product.description }}</div>
    <div class="price">Price: {{ product.price }}</div>
    <ng-container *ngIf="product.isAvailable; else notAvailable">
      <span class="status status_available">Available</span>
    </ng-container>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              class="order-button"
              [disabled]="!product.isAvailable"
              (click)="onBuy()"
      >Buy</button>
      <button mat-stroked-button
              color="accent"
              class="order-button"
              [disabled]="!product.isAvailable"
              (click)="onAddToCart()"
      >Add to cart</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<ng-template #notAvailable class="unavailable">
  <span class="status status_unavailable">Not Available</span>
</ng-template>
